/* задаем цвет фона для контейнера nav. */
nav {
    margin: 0 0;
    position: relative;
    background-color: black;
}

/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: black;
}

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
    transition: 2s;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: gray;
}

/* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}



.in_center {
    text-align: center;
}

#main_content {
	padding-top: 50px;
	font-family: "Verdana"
}

#main_img{
    width: 100%;
    height: 40%;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    margin: auto;
}

.in_center_vertical{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    top: 50%;
    margin-top: -0.625em;
}

#logo {
    display: inline-block;
	float: right;
    width: 45px;
    height: 45px;
    border-radius: 120px;
}

.img_in_news {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.title_in_news {
    display: inline-block;
    width: 180px;
    font-family: Verdana;
    font-weight:bold;
    font-size:15px;
}

.article_in_news {
    width: 180px;
    display: inline-block;
    font-family: Verdana;
    font-size:12px;
}

.my_flex_container {
    display:inline-flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;

}

.my_flex_block {
    flex-basis: auto;
    margin: 20px;
}

.my_flex_block:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.6;
    background: gainsboro;
}

h1,h2 {
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-name: slider;
  }
  @keyframes slider{
    from {
      margin-left: 100%;
      width: 100%; 
    }

    to {
      margin-left: 50%;
     width: 100%;
    }
  }

